<div mat-dialog-content>
    <div class="">
        <mat-list>
            <!-- <mat-list-item [routerLink]="['/profile']"><div class="profile">Profile</div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="logout()"><div class="logout">Logout</div></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="onNoClick()"><div class="cancel">Cancel</div></mat-list-item> -->
            <div class="profile" (click)="profile()">Profile</div>
            <mat-divider></mat-divider>
            <div class="logout" (click)="logOut()">Logout</div>
            <mat-divider></mat-divider>
            <div class="cancel" (click)="onNoClick()">Cancel</div>
        </mat-list>
        <!-- <button (click)="call()">Call Someone</button> -->
    </div>
</div>