.edit-profile-outer-div{
    display: flex;
    flex-basis: 70%;
}

.side-profile-div{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    border-right: 1px solid rgb(149, 148, 141);
}

.outer-div{
   display: flex;
   justify-content: center;
   
}

.side-profile-div  div{
    ;
}

.side-profile-div > div.active{
    border-left: 1px solid  black;
    color: black;
}

.side-profile-div > div{
    height: 50px;
    font-style: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    cursor: pointer;
    color: #4b5661;
    padding: 10% 10% 10% 18%;
}

.side-tab-pane{
    display: none;
}

.side-tab-pane.active{
    display: flex;
    flex-direction: column;
    padding-top:4%;
    padding-left: 10%;
    padding-right: 5%;
}

.profile-heading{
    display: flex;
    flex-direction: row;
}

.profile-img{
    flex:30%;
}

.profile-img img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.main-profile-div{
    flex:75%;
    max-width: 75%;
}

.profile-details{
    display: flex;
    width: 100;
    flex-direction: column;

}

.profile-details label{
    font-size: 18px;
}



.profile-name{
    display: flex;
    flex:60%;
    flex-direction: column;
    margin-left: 11%;
}

.formcontrol-div{
    display: flex;
    margin-bottom: 30px;
}

.formcontrol-div label{
    flex:30%;
    max-width: 30%;
    display: inline-flex;
    justify-items: right;
}

.formcontrol-div input{
    display: flex;
    margin-left: 10%;
    float: 60%;
    max-width: 60%;
}