<mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
<div class="header" *ngIf="showHeader">
    <div class="row1 headerBody">
        <div class="myleft"  [routerLink]="['/']">Medsol</div>
        <div class="mycenter">
            <input mat-input type="text" placeholder="Search Here">
        </div>
        <div class="myright">
            <button [routerLink]="['/']"><mat-icon>home</mat-icon></button>
        </div>
        <div class="profilePic" (click)="openDialog()">
            <div class="img">
                <img src="http://localhost:8080/api/medsol/profile/pic/{{profileDetails?.profile.id}}" height="20px" width="20px">
            </div>
        </div>
    </div>
    <div></div>
</div>
<!-- <div class="mat-elevation-z8"> Something</div> -->

<router-outlet></router-outlet>