.header {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    height: 63px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.headerBody {
    font-size: 31px;
    font-family: initial;
    margin-top: 0.7%;
    margin-left: 10%;
    margin-right: 6%;
    height: 64%;
}

.row1 {
    display: flex;
    margin-right: 11%;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.myleft {
    margin-top: 10px;
    position: relative;
    float: left;
    width: 33.33%;
    outline-style: none;
    cursor: pointer;
}

.mycenter {
    margin-top: 5.5px;
    position: relative;
    text-align: left;
    width: 33.33%;
}

.myright {
    margin-top: 10px;
    position: relative;
    float: right;
    width: 33.33%;
}

mat-icon {
    height: 40px;
    width: 39px;
}

input {
    width: 60%;
    float: right;
    padding: 6px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
    background-color: #fff;
    border: none;
    float: right;
    outline-style: none;
    cursor: pointer;
}

.img {   
    margin-top: 13px;
    position: relative;
    margin-left: 30%;
    width: 33.33%;
    width: 20px;
    height: 20px;
    background-size: cover;
    display: block;
}
.img img{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
.profilePic{
cursor: pointer;
outline-style: none;
}
.mat-elevation-z8{
    height: 200px;
    width: 150px;
    position: absolute;
    right: 80px;
}
.red-snackbar {
    background: #F44336;
  }
.display-search-item{
    z-index: 1;
    position:relative;
}

.serach-item{
    border: 1px solid rgb(243, 240, 240);
    display: block;
    left: 50%;
    margin-left: -112px;
    position: absolute;
    right: -12px;
    top: 45px;
    width: 225px;
    z-index: 9;
    height: 250px;
    overflow:auto;
    scrollbar-width: 20px;
    box-shadow: -1px 1px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}


.serach-item ul{
    padding-left: 0px;
    margin: unset;
}

.serach-item ul li{
    list-style: none;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #e4dddd;
}

.outer-search-div{
    flex: 0 1 auto;
    min-width: 125px;
    width: 225px;
    border: 1px solid rgb(243, 240, 240);
}

.outer-search-div input{
    width:85%;
    float: left;
    border: none;
    
}

.outer-search-div button{
    text-align: -webkit-auto;
    font-size: 23px;

}

.outer-search-div input:focus{
    outline: none;
    border: none;
}

.search-details{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    white-space: nowrap;
    width: 100%;
    
}

.serch-detail-img img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.search-details-text{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding: 0px 0px 5px 10px;
    margin-top: -6px;
}

.main-text span{
    font-size: 16px;
    color: rgb(59, 54, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-overflow: ellipsis;
}

.profile-text{
    line-height: 5px;
    padding: unset;

}

.profile-text span{
    font-size: 12px;
    color: rgb(149, 148, 141);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.triangle{
    background: #fff;
    content: ' ';
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 16px;
    z-index: 1;
    border: 1px solid  rgb(243, 240, 240);
    box-shadow: -1px 1px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

}

.outer-search-div .triangle{
    top:39px;
}
