.profile {
    background-color: #fbfbfb;
    /* height: 100%; */
}

.mainform {
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    height: 350px;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    width: 80%;
    margin-left: 10%;
    /* align-self: center; */
}

.img {
    position: relative;
    margin-left: 30%;
    width: 33.33%;
    background-size: cover;
    display: block;
    /* background-image: url(""); */
}

.img img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: 150px;
    height: 150px;
}

.profilePic {
    margin-top: 12%;
    width: 33.33%;
}

.mat-elevation-z {
    width: 80%;
    height: 100%;
}

.details {
    margin-top: 12%;
    float: left;
    width: 400px;
}

h1 {
    margin-top: 5%;
}

.follow1, .follow2, .follow3 {
    width: 33.33%;
    margin-top: 7%;
}

.row {
    display: flex;
}

h1 {
    display: inline;
}

button {
    margin-left: 10%;
    margin-top: -3%;
}

.posts {
    margin-top: 2%;
    margin-left: 10%;
    margin-left: 10%;
}

.post {
    width: 31%;
}

#infoi {
    z-index: 10;
}

.example-card {
    max-width: 87%;
    height: 415px;
}

.header-image img {
    border-radius: 100px;
    position: relative;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    cursor: pointer;
    outline-style: none;
    position: relative;
    background-size: cover;
}

.content {
    margin-top: 3%;
}

.postContent {
    margin: auto;
    height: 386px;
}

.postHeader {
    position: static;
    width: 100%;
    z-index: 3;
}
.mat-card-image {
    width: calc(100%);
    margin: 0 -16px 16px -16px;
    margin-left: auto;
}

.comments {
    height: 300px;
    overflow: auto;
    scrollbar-width: 0px;
    background-color: #fbfbfb;
}

.newComment {
    border-top: 0.25px solid silver;
    margin-left: 1%;
    height: 35px;
    margin-top: auto;
    /* padding: 1px; */
    /* margin-top: auto; */
}

.comnt input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    margin-top: auto;
}

.cmtBtn {
 margin-top: auto;
 color: blue;
 cursor: pointer;

}

.reactions {
    margin-top: 2%;
}