<div class="initial-profile-div">
    <div class="profile-details-div">
        <div class="row">
            <div class="profile-pic-div">
                <div class="profile-pic-inner-div" *ngIf="currentUser != userId">
                    <img src="http://localhost:8080/api/medsol/v1/profilePic/{{profileData?.user.userId}}">
                </div>
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                <div class="profile-pic-inner-div" id="navi" *ngIf="currentUser == userId" (click)="fileInput.click()"
                    style="cursor: pointer;" data-toggle="tooltip" title="Upload ProfilePic">
                    <img src="http://localhost:8080/api/medsol/v1/profilePic/{{profileData?.user.userId}}">
                </div>
            </div>
            <div class="profile-desc-div">
                <div>
                    <h1><b>{{profileData?.user?.fullName}}</b></h1>
                    <button mat-stroked-button routerLink="/edit-profile" *ngIf="currentUser == userId">Edit
                        Profile</button>
                    <button mat-raised-button (click)="followUser()" *ngIf="currentUser != userId && !following"
                        color="primary">Follow</button>
                    <button mat-stroked-button (click)="unFollowUser()"
                        *ngIf="currentUser != userId && following">Following</button>
                    <div class="row" id="follow">
                        <div class="post-count-div"><b>{{profileData?.postCount}} posts</b></div>
                        <div class="follower-count-div" [routerLink]="['/peoples','followers',profileData?.user?.userId]">
                            <b>{{profileData?.followingCount}} followers</b></div>
                        <div class="following-count-div" [routerLink]="['/peoples','followings',profileData?.user?.userId]">
                            <b>{{profileData?.followerCount}} following</b></div>
                    </div>
                </div>
                <div></div>
                <div style="margin-top: 2%; ">
                    <div>#{{profileData?.user?.fullName}}</div>
                    <div>#{{profileData?.profession}}</div>
                    <div>#{{profileData?.user.instituteName}}</div>
                    <div>#{{profileData?.specialization}}</div>
                    <div>#{{profileData?.detailsSpecialization}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="initial-post-div">
        <div style="margin-bottom: 2%; padding: 10px;" *ngFor="let post of PostList">
            <mat-card class="mat-post-card">

                <div class="row">
                    <div class="col-7 post-content-div">
                        <div class="post-content-header">
                            <mat-card-header>
                                <div mat-card-avatar class="header-image">
                                    <img src="http://localhost:8080/api/medsol/v1/profilePic/{{profileData?.user?.userId}}"
                                        height="50px" width="50px">
                                </div>
                                <mat-card-title>{{profileData?.user?.fullName}}</mat-card-title>
                                <mat-card-subtitle>{{profileData?.profession}} |
                                    {{post.postUploadTime | date:'dd/MM/yyyy'}}:{{post.postUploadTime | date:"HH:mm"}}
                                </mat-card-subtitle>
                            </mat-card-header>
                        </div>
                        <div class="content-div">
                            <mat-card-content>
                                <p>
                                    {{post.postContent}}
                                </p>
                            </mat-card-content>
                        </div>

                        <div *ngIf="(post.imgPath | json) != 'null'">
                            <img src="http://localhost:8080/api/medsol/posts/img/{{post.postId}}" alt="Post" height="310px"
                                width="550px">
                        </div>
                    </div>
                    <div class="col-5" style="overflow: hidden;">

                        <div class="post-cmt-div">
                            <div><strong>Swarup Bhol</strong>  : Nice Pic </div>
                        </div>

                        <div class="post-react-div">
                            <div class="post-like-div" style="margin-bottom: 1.5%;">
                                Liked By Swarup Bhol,Abhidutta Baral and <strong>49 others</strong>
                            </div>
                                <mat-card-actions>
                                    <button mat-button style="width: 30.33%; color: blue;"><i class="fa fa-thumbs-up"></i>Like</button>
                                    <button mat-button style="width: 30.33%;" (click)="clickComment()"><i class="fa fa-comment-o">Comment</i></button>
                                    <button mat-button style="width: 30.33%;"><i class="fa fa-send-o">Share</i></button>
                                </mat-card-actions>

                        </div>
                        <div class="row post-new-comment">
                            <div class="col-8 post-cmt-inp-div"><input mat-input type="text" placeholder="Write a comment here..">
                            </div>
                            <div class="cmt-btn-div">Post</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
</div>