.initial-profile-div {
    background-color: #fbfbfb;
}

.profile-details-div {
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    height: 350px;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    width: 80%;
    margin-left: 10%;
}

.profile-pic-inner-div {
    position: relative;
    margin-left: 30%;
    width: 33.33%;
    background-size: cover;
    display: block;
}

.profile-pic-inner-div img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.profile-pic-div {
    margin-top: 12%;
    width: 33.33%;
}



.mat-elevation-z {
    width: 80%;
    height: 100%;
}

.profile-desc-div {
    margin-top: 12%;
    float: left;
    width: 400px;
}

h1 {
    margin-top: 5%;
}

.post-count-div, .follower-count-div, .following-count-div {
    width: 33.33%;
    margin-top: 7%;
    cursor: pointer;
    outline-style: none;
}



.row {
    display: flex;
}

h1 {
    display: inline;
}

button {
    margin-left: 10%;
    margin-top: -3%;
}



.initial-post-div {
    margin-top: 2%;
    margin-left: 10%;
    margin-left: 10%;
}

.post {
    width: 31%;
}

#infoi {
    z-index: 10;
}

.mat-post-card {
    max-width: 87%;
    /* height: 415px; */
    
}



.header-image img {
    border-radius: 100px;
    position: relative;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    cursor: pointer;
    outline-style: none;
    position: relative;
    background-size: cover;
}

.content-div {
    margin-top: 3%;
    margin-top: auto;
}



.post-content-div {
    margin: auto;
    height: 386px;
}

.post-content-header {
    position: static;
    width: 100%;
    z-index: 3;
}
.mat-card-image {
    width: calc(100%);
    margin: 0 -16px 16px -16px;
    margin-left: auto;
}


.post-cmt-div {
    height: 300px;
    overflow: auto;
    scrollbar-width: 0px;
    background-color: #fbfbfb;
}
.post-new-comment {
    /* border-top: 0.25px solid silver; */
    margin-left: 1%;
    height: 35px;
    margin-top: auto;
}
.post-cmt-inp-div input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    margin-top: auto;
}
.cmt-btn-div {
 margin-top: auto;
 color: blue;
 cursor: pointer;

}
.post-react-div {
    margin-top: 2%;
}