<!-- <div style="background-image: url(./../../assets/medsol.jpg); height: 200px; width: 400px; border: 1px solid black;">mat of a DIV element with a background image:</div> -->
<div class="mainDiv">
  <div class="subDiv">
    <div class="loginDiv">
      <mat-tab-group mat-stretch-tabs class="mat-stretched-tabs mat-elevation-z4">
        <mat-tab label="Login">
          <div class="login">
            <app-login></app-login>
          </div>
        </mat-tab>
        <mat-tab label="Sign Up">
          <div class="signup">
            <app-signup></app-signup>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>